* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}



.menu {
    width: 100%;
    height: 10vh;
    min-height: 40px;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.menu_big {
    display: none;
}

.menburger {

    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu div.phone a {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    font-size: 32px;
}

/* header */

header {
    position: relative;
    top: 10vh;
    left: 0;
    height: 60vh;
    width: 100%;
    background-image: url(../../img/candle-4719019_1920.jpg);
    background-position: -25px, 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

div.darkbgc {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

header img {
    width: 90%;
    max-width: 371px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





/* main */
main {
    position: relative;
    top: 10vh;
    border-top: 2px solid #D5A463;
    border-bottom: 2px solid #D5A463;
    background-color: #2C2C2C;
    font-size: 19px;
    letter-spacing: 1px;
}

div.services {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border-left: 1px solid #D5A463;
    border-right: 1px solid #D5A463;
    border-radius: 25px;
    padding: 5px;
}




.contact {
    border: none;
}

.wrap img {
    width: 150px;
    display: block;
    margin: 15px auto;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 0px black;
}

main p {
    line-height: 30px;
    padding: 5px;
}

.services ul li p {
    text-align: center;
}

ul.first_list li {
    padding: 5px 0;
    list-style: none;
    margin: 5px 0;
}

ul.first_list li:nth-of-type(even) {
    padding: 0;
    margin: 0;
    color: #dfa75d;
    font-size: 40px;
}

ul.first_list li:nth-last-of-type(1) {
    border: none;
}

div.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 2px solid #D5A463;
    border-bottom: 2px solid #D5A463;
}

div.contact div {
    max-width: 170px;
    margin: 20px 0;
}

div.contact div h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

div.contact div a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
}

div.line {
    width: 80%;
    height: 1px;
    background-color: #D5A463;
}

/* mediaqueries */


@media (orientation: landscape) {

    header {
        background-position: center;
    }

    div.contact div {
        max-width: 170px;
        margin: 20px 20px;
    }

    div.contact {
        flex-direction: row;
        justify-content: center;
    }

    div.line {
        width: 1px;
        height: 80px;
        background-color: #D5A463;
    }

}

@media (min-width: 768px) {
    header {
        background-position: center;
    }

    div.contact div {
        max-width: 170px;
        margin: 20px 50px;
    }

    div.contact {
        flex-direction: row;
        justify-content: center;
    }

    div.line {
        width: 1px;
        height: 80px;
        background-color: #D5A463;
    }
}


@media (min-width: 1280px) {

    .menu_big {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .menu_big ul li {
        display: inline-block;
    }

    .menu_big li a {
        display: block;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 15px;
        line-height: 40px;
        font-size: 20px;
        border-bottom: 1px solid transparent;
    }

    .menu_big li a:hover {
        color: #D5A463;
        border-bottom: 1px solid #D5A463;
    }

    .menu_big li:nth-child(1) {
        margin-left: 30px;
    }

    .menburger {
        display: none;
    }
}